@model CommandsViewModel
@{ 
    ViewData["Caption"] = "Отправка команды на терминал";
}

@using (Html.BeginForm("Submit", "Cmd", FormMethod.Post, htmlAttributes: new { id = "filterr" }))
{
    <input asp-for="@Model.SortParm.Num" id="Order_num" hidden />
    <input asp-for="@Model.SortParm.Order" id="Order_direction" hidden />
    
    <div class="catalog">
        <div class="catalog__head">
            <span class="catalog__label">Отправка команды на терминал</span>
            <br />
            @*Можно было воспользоваться grid*@
            <table>
                <tr>
                    <td>
                        <span class="catalog__label">ID Терминала(ов)</span>
                    </td>
                    <td>
                        <span class="catalog__label">Команда</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea asp-for="IDTerminal" class="IDTerInput"></textarea>
                    </td>
                    <td>
                        <div class="box catalog__head-row">
                            <div class="pseudoselect catalog__select">
                                <input asp-for="CmdId" class="sel_id_cmd" hidden />
                                <input type="text" class="pseudoselect__input" placeholder="Выбрать из списка">
                                <div class="pseudoselect__dropdown custom-scroll">
                                    <div class="pseudoselect__list">
                                        @for (int i = 0; i < Model.Commands.Count; i++)
                                        {
                                            <li data-id_cmd="@Model.Commands[i].id">@Model.Commands[i].name</li> //Сораняем все типы команд в скрытые поля, чтобы модель подцепила эти данные
                                            <input type="hidden" asp-for="@Model.Commands[i].id" />
                                            <input type="hidden" asp-for="@Model.Commands[i].name" />}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="box catalog__head-row">
                @*Здесь будут динамически подгружены формы для параметров команд, полученные через ajax*@
                <div id="CmdParams">

                </div>
            </div>
            <div class="gr_btn">
                <button disabled class="btn catalog__btn"> Назад </button>       
                <input type="submit" value="Отправить" class="btn catalog__btn" />
            </div>
        </div>
            <div class="catalog__body">
                <div class="table-wrapper">
                    <table class="catalog__table">
                        <thead>
                            <tr>
                                <th class="" data-column="0" width="60">№</th>
                                <th class="sort" data-column="1" width="110">Дата и время</th>
                                <th class="sort" data-column="2" width="300">Команда</th>
                                <th class="sort" data-column="3" width="90">Параметр 1</th>
                                <th class="sort" data-column="4" width="90">Параметр 2</th>
                                <th class="sort" data-column="5" width="90">Параметр 3</th>
                                <th class="sort" data-column="6" width="110">Статус</th>
                            </tr>
                        </thead>
                        @*При сортировке таблицы данные подружаются через Ajax*@
                        <tbody id="tbBody">
                            @if (Model != null)
                            {
                                for (int i = 0; i < Model.LCmdHistory.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @(i+1)
                                        </td>
                                        <td>
                                            @Model.LCmdHistory[i].time_created
                                        </td>
                                        <td>
                                            @Model.LCmdHistory[i].Cmd.name
                                        </td>
                                        <td>
                                            @Model.LCmdHistory[i].parameter1
                                        </td>
                                        <td>
                                            @Model.LCmdHistory[i].parameter2
                                        </td>
                                        <td>
                                            @Model.LCmdHistory[i].parameter3
                                        </td>
                                        <td>
                                            @Model.LCmdHistory[i].state_name
                                        </td>
                                    </tr>
                                 }
                             }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}