@model Command


@{
    //Если хотя бы один параметр есть, то формируем формы для их отображения
    if (Model.parameter_name1 != null || Model.parameter_name1 != null || Model.parameter_name1 != null)
    {
        <table>
            <tr>
                @if (Model.parameter_name1 != null)
                {
                    <td>
                        <span class="catalog__label">@Model.parameter_name1</span>
                    </td>
                }
                @if (Model.parameter_name2 != null)
                {
                    <td>
                        <span class="catalog__label">@Model.parameter_name2</span>                   
                    </td>
                }
                @if (Model.parameter_name3 != null)
                {
                    <td>
                        <span class="catalog__label">@Model.parameter_name3</span>
                    </td>
                }
            </tr>
            <tr>
                @if (Model.parameter_name1 != null)
                {
                    <td>
                        <input type="text" class="cmd_input_param" asp-for="@Model.parameter1" value="@Model.parameter_default_value1" id="CmdParams__parameter1" name="CmdParams.parameter1" />
                    </td>
                }
                @if (Model.parameter_name2 != null)
                {
                    <td>
                        <input type="text" class="cmd_input_param" asp-for="@Model.parameter2" value="@Model.parameter_default_value2" id="CmdParams__parameter2" name="CmdParams.parameter2" />
                    </td>
                }
                @if (Model.parameter_name3 != null)
                {
                    <td>
                        <input type="text" class="cmd_input_param" asp-for="@Model.parameter3" value="@Model.parameter_default_value3" id="CmdParams__parameter3" name="CmdParams.parameter3" />
                    </td>
                }
            </tr>
        </table>
    }
}


