@model Command


<div class="cmd_wraper">
    @{
        if (Model.parameter_name1 != null)
        {
            <div class="cmd_param">
                <div class="cmd_param_lbl">
                    <span class="catalog__label">@Model.parameter_name1</span>
                </div>
                <input type="text" class="cmd_input_param" asp-for="@Model.parameter1" value="@Model.parameter_default_value1" id="CmdParams__parameter1" name="CmdParams.parameter1" />
            </div>
        }
        if (Model.parameter_name2 != null)
        {
            <div class="cmd_param">
                <div class="cmd_param_lbl">
                    <span class="catalog__label">@Model.parameter_name2</span>
                </div>
                <input type="text" class="cmd_input_param" asp-for="@Model.parameter2" value="@Model.parameter_default_value2" id="CmdParams__parameter2" name="CmdParams.parameter2" />
            </div>
        }
        if (Model.parameter_name3 != null)
        {
            <div class="cmd_param">
                <div class="cmd_param_lbl">
                    <span class="catalog__label">@Model.parameter_name3</span>
                </div>
                <input type="text" class="cmd_input_param" asp-for="@Model.parameter3" value="@Model.parameter_default_value3" id="CmdParams__parameter3" name="CmdParams.parameter3" />
            </div>
        }
    }
</div>

